<section class="form-container">
  <label>Add New Color</label>
  <form (submit)="onAdd(f)" #f="ngForm">
    <mat-form-field>
      <input [required]="" matInput placeholder="Color Name" name="name" [ngModel]="name" required>
      <mat-error>
        Please enter name
      </mat-error>
    </mat-form-field>
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Color HEX Code" name="hex" [ngModel]="hex">-->
    <!--</mat-form-field>-->
    <button mat-raised-button type="submit" color="primary">Add</button>
  </form>
</section>
<mat-accordion>
  <mat-expansion-panel *ngFor="let color of colors">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{color.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
        <form (submit)="onSave(f1)" #f1="ngForm">
          <mat-form-field>
            <input required matInput placeholder="Color Name" name="name" [ngModel]="color.name" value="{{color.name}}">
            <mat-error>
              Please enter name
            </mat-error>
          </mat-form-field>
          <input type="hidden" value="{{color.id}}" [ngModel]="color.id" name="id">
          <button mat-raised-button type="submit" color="primary">Update</button>&nbsp;
          <button mat-raised-button type="button" (click)="onDelete(color)" color="warn">Delete</button>
        </form>
  </mat-expansion-panel>
</mat-accordion>
