<section class="instruction">

  <h2>საიტის მოხმარების ინსტრუქცია</h2>

  <p>
    სატზე ავტორიზაციის შემდეგ თქვენ შეგიძლიათ მარცხივ მდებარე მენიუში არსებული პუნქტების ნახვა.
  </p>

  <h3>ადმინ პანელის საშუალებები</h3>
  <ul>
    <li><a routerLink="/products">პროდუქციის</a> დამატება/წაშლა/რედაქტირება</li>
    <li><a routerLink="/categories">კატეგორიების</a> დამატება/წაშლა/რედაქტირება</li>
    <li><a routerLink="/colors">ფერების</a> დამატება/წაშლა/რედაქტირება</li>
    <li><a routerLink="/manufacturers">მწარემოებლების</a> დამატება/წაშლა/რედაქტირება</li>
    <li><a routerLink="/pages">სტატიკური გვერდების</a> დამატება/წაშლა/რედაქტირება</li>
    <li><a routerLink="/carousel">სლადერების</a> დამატება/წაშლა/რედაქტირება</li>
  </ul>

  <h3>პროდუქციის დამატება/წაშლა/რედაქტირება</h3>
  <p>
    მარცხენა მენიუში ვაჭერთ <a routerLink="/products">Products</a> ღილაკს. დაჭერის შემდეგ გადავდივართ ყველა პრუქტის ჩამნათვალზე.
    თავდაპირველად სია იქნება ცარიელი რადგან არ გაქვთ პროდუქტი დამატებული.
    პროდუქტის დასამატებლად დააჭირეთ ღილაკს <button mat-raised-button>Add new product</button>.
  </p>
  <p>
    მას შემდეგ რაც ადახვალთ პროდუქტის დამატების გვერდზე თქვენ უნდა შეავსოთ პროდუქტის ძირითადი ინფორმაცია, როგორიცაა:
    სახელი, ფასი, აღწერილობა, ზომა და ა.შ. ყველა ველი რასაც ნახავთ აუცილებელია რომ შეავსოთ, წინააღმდეგ შემთხვევაში ვერ გადახვალთ შემდეგ ნაბიჯზე.
    მას შემდეგ რაც შეავსებთ ყველა ველს დააჭირეთ ქვემოთ მდებარე ლურჯ ღილაკს <button mat-raised-button color="primary">Save and continue</button>.
  </p>
  <p>
    შემდეგი ეტაპი მოიცავს სურაეტბის ატვირთვას. სურათები უნდა ატვირთოთ პირველ ნაბიჯზე არჩეული ფერისათვის.</p>
  <p>
    გაითვალისწინეთ რომ <a routerLink="/colors">ფერები</a> და <a href="/manufacturers">მწარმოებლები</a> უნდა შეავსოთ პირველ რიგში რათა პროდუქტის დამატებისას მათი არჩევა შეძლოთ.
  </p>
  <p>
    სურათების ატვირთვისას არჩელი სურათების ჯამური ზომა არ უნდა აღემატებოდეს 25MB (მეგაბაიტს). სურათების რეკომენდირებული რეზოლუციაა 1280x720.
  </p>
  <p>
    სურათების არჩევის შემდეგ დააჭირეთ ლურჯ ღილაკს წარწერით <button mat-raised-button color="primary">Upload files</button>.
  </p>
  <p>
    სურათების ატვირთვის შემდეგ დააჭირეთ ლურჯ ღილაკს <button mat-raised-button color="primary">Save and continue</button>.
  </p>
  <p>
    ბოლო ნაბიჯზე თქვენ საშუალება გაქვთ დაასრულოთ პროდუქტის დამატების ოპერაცია ან დაამატოთ ამავე პროდქუტის ნაირსახეობა.
    მაგაითად თქვენ დაამატეთ პროდუქტის წითელი ფერი მაგრამ ასევე გაქვთ მწვანეც. მაშინ ბოლო ეტაპზე დააჭირეთ ღილაკს წარწერით <button mat-raised-button color="primary">Add new color for this product</button>.
  </p>
  <p>
    მას შემდეგ რაც წარმატებით დაამატებით პროდუქტს და მის ფერების ვარიანტებს ბოლო ეტაპზე დააჭირეთ ღილაკს წარწერით <button mat-raised-button color="accent">Finish adding product</button>.
  </p>

  <h3>კატეგორიის დამატება/წაშლა/რედაქტირება</h3>
  <p>
    მარცხენა მენიუში ვაჭერთ <a routerLink="/categories">Categories</a> ღილაკს. დაჭერის შემდეგ გადავდივართ ყველა კატეგორიის ჩამნათვალზე.
  </p>
  <p>
    თავდაპირველად სია იქნება ცარიელი რადგან არ გაქვთ კატეორია დამატებული.
  </p>
  <p>
    კატეგორიის დასამატებლად შეავსეთ გვერდის ზედა ნაწილში მდებარე ველი, რომელშიც უნდა შეიყვაოთ კატეგორიის დასახელება.
    გაითვალისწინეთ რომ ეს კატეგორია იქნება მთავარი (მშობელეი კატეგორია). ქვეკატეორიის დამატების ინსტრუქციის სანახავათ განაგრძეთ კითხვა.
  </p>
  <p>
    მას შემდეგ რაც დააჭერთ ღილაკს <button mat-raised-button color="primary">Add</button>. ქვეოთ სია ავტომატურად ანახლდება და გამოჩნდება თქვენ მიერ დამატებული კატეგორია.
  </p>
  <p>
    ქვეკატეგორიის დასამატებლად დააჭირეთ სიაში იმ მშობელ კატეორიას რომლისთვისაც სურთ ქვეკატეგორიების შექმნა.
    როდესაც ჩამოიშლება მშობელი კატეგორია, დაიანხავთ ორ ტაბს.
  </p>
  <p>
    პირველი ტაბი არის თვით ამ მშობელი კატეგორიის სახელის შესაცვლელად.
  </p>
  <p>
    მეორე ტაბი არის ქვეკატეგორიების დასამატებლად. გადადით მეორე ტაბზე წარწერით Add Subcategory.
  </p>
  <p>
    პირველ ველში ჩაწერეთ ქვეკატეგორიის სახელი, შემდეგ არიჩიეთ მისი მშობელი კატეგორია და დააჭირეთ ჭილაკს <button mat-raised-button color="primary">Add</button>.
  </p>
  <p>
    იმ კატეგორიებს რომლებსაც გააჩნიათ ქვეკატეგორიები, მათი ჩამოშლისას დაინახავთ მესამე ტაბს წარწერით Edit Subcategories.
  </p>
  <p>
    მესამე ტაბში თქვენ შეგიძლიათ შეუცვალოთ კატეგორიებს სახელები და ასევე წაშალოთ ისინი.
  </p>

  <h3>მწარმოებლების და ფერების დამატება ხდება კატეგორიის მსგავსად. შედარებით მარტივი ფორმით.</h3>
</section>
