<div *ngIf="banner != null" class="row form-container">
  <form [formGroup]="basicInfoForm" (submit)="onSubmit()">
    <ng-template matStepLabel>Fill in banner options</ng-template>

    <mat-form-field>
      <input matInput placeholder="Banner name" name="name" formControlName="name" type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Banner area" formControlName="area">
        <mat-option *ngFor="let area of areas" [value]="area.value">{{area.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <div>
      <button mat-raised-button color="primary" type="submit">Update banner data</button>
    </div>
  </form>
  <br/>
  <app-file-upload [formActionUrl]="'admin/banner/add-banner-file'"
                   [formDataKey]="['banner-id']"
                   [formDataValue]="[banner.id]"
                   (fileUploaderCallback)="uploadFinished($event)">
  </app-file-upload>
  <br/>
  <mat-grid-list *ngIf="banner.bannerFiles.length" cols="3" gutterSize="10px">
    <mat-grid-tile *ngFor="let file of banner.bannerFiles" class="grid-item">
      <img src="{{file.fileUrl}}" alt="{{file.name}}">
      <button title="Delete File" mat-raised-button color="accent" (click)="deleteFile(file)">
        <i class="material-icons">
          remove_circle_outline
        </i>
      </button>
      <div class="slider-inputs">
        <input type="text" name="externalURL" placeholder="Link to somewhere else" [(ngModel)]="file.externalURL">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <br/>
  <div>
    <button mat-raised-button color="primary" (click)="addCaptions()">Save images</button>
  </div>
</div>
