.form-container{
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
}


.sub-child {
  padding-left: 30px;
}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.inline-form {
  width: 100%;
  display: inline-block;
}
.inline-form mat-form-field {
  width: 80%;
}


.inline-form .button-groups {
  width: 20%;
  padding-left: 30px;
  display: inline;
}

.scrollable {
  padding-top: 15px;
  max-height: 500px;
  overflow-y: scroll;
}


.half{
  width: 50%;
}
