<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="basicInfoForm" errorMessage="Fields in red must be filled in!">
    <form [formGroup]="basicInfoForm" (submit)="onSubmit()">
      <ng-template matStepLabel>Fill in banner options</ng-template>

      <mat-form-field>
        <input matInput placeholder="Banner name" name="name" formControlName="name" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Banner area" formControlName="area">
          <mat-option value="shop-header">Shop Header Area</mat-option>
          <mat-option value="shop-sidebar">Shop Sidebar Area</mat-option>
          <mat-option value="product-details">Product Details Area</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="!stepOneCompleted" errorMessage="Please fill in all required fields!">
    <ng-template matStepLabel>Upload slide images</ng-template>
    <app-file-upload (fileUploaderCallback)="uploadFinished($event)"></app-file-upload>
    <div>
      <button mat-raised-button color="primary" matStepperNext [disabled]="!stepTwoCompleted">Add captions</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="stepTwoCompleted" errorMessage="At least one image is required.">
    <ng-template matStepLabel>Add slider image options</ng-template>
    <mat-grid-list *ngIf="files.length" cols="2" rowHeight="2:1" gutterSize="10px">
      <mat-grid-tile *ngFor="let file of files" class="grid-item">
        <img src="{{file.fileUrl}}" alt="{{file.name}}">
        <button title="Delete File" mat-raised-button color="accent" (click)="deleteFile(file)">
          <i class="material-icons">
            remove_circle_outline
          </i>
        </button>
        <div class="slider-inputs">
          <input type="text" name="externalURL" placeholder="Link to somewhere else" [(ngModel)]="file.externalURL">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div>
      <button mat-raised-button color="primary" (click)="addCaptions()">Save Banner</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
