.form-container{
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
}


.sub-child {
  padding-left: 30px;
}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.inline-form {
  width: 100%;
  display: inline-block;
}
.inline-form mat-form-field {
  width: 80%;
}


.inline-form .button-groups {
  width: 20%;
  padding-left: 30px;
  display: inline;
}

.scrollable {
  padding-top: 15px;
  max-height: 300px;
  overflow-y: scroll;
}


.grid-item {
  position: relative;
}

.grid-item button {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}


.active {
  border: 1px solid red;
}


.horizontal-list{
  display: inline-flex;
}

.example-card {
  max-width: 400px;
  flex: 1 1 25%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
