<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="basicInfoForm" errorMessage="წითელი ველები აუცილებლად შეავსეთ!">

    <form [formGroup]="basicInfoForm" (submit)="onSubmit()">
      <ng-template matStepLabel>შეავსეთ პროდუქტის ინფორმაცია</ng-template>

      <mat-form-field>
        <input matInput placeholder="Product Name" name="name" formControlName="name" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Product Price" name="price" formControlName="price" type="number">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Product Quantity" name="quantity" formControlName="quantity" type="number">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Product Description" formControlName="description"></textarea>
      </mat-form-field>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button type="button" mat-icon-button disabled></button>
            <mat-checkbox (change)="onCategoryChoose(node)" name="parent" [value]="node" [checked]="inProductCategories(node)">&nbsp;{{node.name}}</mat-checkbox>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button type="button" mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-checkbox (change)="onCategoryChoose(node)" name="parent" [value]="node" [checked]="inProductCategories(node)">&nbsp;{{node.name}}</mat-checkbox>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>

      <mat-form-field>
        <mat-select placeholder="Choose color from library" formControlName="color" [compareWith]="compareFn">
          <mat-option *ngFor="let color of colors | async" [value]="color">
            {{color.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Choose manufacturer from library" formControlName="manufacturer" [compareWith]="compareFn">
          <mat-option *ngFor="let manufacturer of manufacturers | async" [value]="manufacturer">
            {{manufacturer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Choose size" formControlName="size" [compareWith]="compareFn">
          <mat-option *ngFor="let size of sizes | async" [value]="size">
            {{size.countrySuffix}} / {{size.genderSuffix}} / {{size.size}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="submit">Save and continue</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="stepOneCompleted" errorMessage="At least one image is required.">
    <ng-template matStepLabel>Add Images</ng-template>
    <p *ngIf="stepOneCompleted">Upload Images for product <u>{{variant.color.name}}</u> color!</p>
    <app-file-upload (fileUploaderCallback)="uploadFinished($event)"></app-file-upload>
    <br/>
    <div>
      <button mat-raised-button color="primary" matStepperNext [disabled]="!stepTwoCompleted">Save and continue</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="stepTwoCompleted">
    <ng-template matStepLabel>Final overview of product</ng-template>
    <table class="result-table" *ngIf="stepOneCompleted">
      <thead><th>Field</th><th>Value</th></thead>
      <tbody>
      <tr>
        <td>Name</td>
        <td>{{variant.name}}</td>
      </tr>
      <tr>
        <td>Price</td>
        <td>{{variant.price}}</td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td>{{variant.quantity}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{variant.description}}</td>
      </tr>
      <tr *ngIf="selectedCategories.length > 0">
        <td>Categories</td>
        <td><span *ngFor="let cat of selectedCategories">{{cat.name}} / </span></td>
      </tr>
      <tr>
        <td>Color</td>
        <td>{{variant.color.name}}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>{{variant.size.name}}</td>
      </tr>
      <tr *ngIf="files.length > 0">
        <td>Images</td>
        <td><img *ngFor="let file of files" src="{{file.fileUrl}}" alt="{{variant.name}}"></td>
      </tr>
      </tbody>
    </table>
    <br/>
    <div>
      <button mat-raised-button color="primary" (click)="createNewVariant()">Add new color for this product</button>
      <button mat-raised-button color="accent" (click)="stepper.reset()">Finish adding product</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
