.form-container{
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
}


.sub-child {
  padding-left: 30px;
}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.inline-form {
  width: 100%;
  display: inline-block;
}
.inline-form mat-form-field {
  width: 80%;
}


.inline-form .button-groups {
  width: 20%;
  padding-left: 30px;
  display: inline;
}

.scrollable {
  padding-top: 15px;
  max-height: 300px;
  overflow-y: scroll;
}


table.result-table {
  width: 100%;
  text-align: left;
}

table.result-table td {
  width: 50%;
}

table.result-table td img {
  max-width: 130px;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 5px;
  vertical-align: top;
}
