<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="basicInfoForm" errorMessage="წითელი ველები აუცილებლად შეავსეთ!">

    <form [formGroup]="basicInfoForm" (submit)="onSubmit()">
      <ng-template matStepLabel>შეავსეთ პროდუქტის ინფორმაცია</ng-template>

      <mat-form-field>
        <input matInput placeholder="პროდუქტის სახელი" name="name" formControlName="name" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="პროდუქტის ფასი" name="price" formControlName="price" type="number">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="პროდუქტის აღწერა" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="აირჩიეთ კატეგორიები" formControlName="categoryList" multiple>
          <mat-optgroup *ngFor="let category of categories | async" [label]="category.name">
            <mat-option [value]="category">{{category.name}}</mat-option>
            <mat-option *ngFor="let subCat of category.children" [value]="subCat">
              {{subCat.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="აირჩიეთ ფერი" formControlName="color">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let color of colors | async" [value]="color">
            {{color.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="აირჩიეთ მწარმოებელი" formControlName="manufacturer">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let manufacturer of manufacturers | async" [value]="manufacturer">
            {{manufacturer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="აირჩიეთ სქესი" formControlName="sex">
          <mat-option>---</mat-option>
          <mat-option value="MALE">მამაკაცი</mat-option>
          <mat-option value="FEMALE">ქალი</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="აირჩიეთ ზომა" formControlName="size">
          <mat-option>---</mat-option>
          <mat-option value="S">Small</mat-option>
          <mat-option value="M">Medium</mat-option>
          <mat-option value="L">Large</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="submit">შემდეგი ნაბიჯი</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fileUploadComponent.fileUploadForm" errorMessage="At least one image is required.">
    <ng-template matStepLabel>დაამატეთ სურათები</ng-template>
    <p *ngIf="stepOneCompleted">ატვირთეთ სურათები წინა ნაბიჯზე არჩეული <u>{{variant.color.name}}</u> ფერისთვის!</p>
    <app-file-upload (fileUploaderCallback)="createNewVariant()"></app-file-upload>
    <div>
      <button mat-button matStepperPrevious>უკან</button>
      <button mat-button matStepperNext [disabled]="!fileUploadComponent.fileUploadForm.valid">შემდეგი ნაბიჯი</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>დაამატეთ პროდუქტის ნაირსახეობა ან დაასრულეთ ოპერაცია</ng-template>
    მორჩა!
    <div>
      <button mat-button (click)="createNewVariant()">ნაირსახეობის დამატება</button>
      <button mat-button (click)="stepper.reset()">დასრულება</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
