<section class="form-container">
  <label>Add New Size</label>
  <form (submit)="onAdd(f)" #f="ngForm">
    <mat-form-field>
      <input matInput placeholder="Country Suffix" name="countrySuffix" [ngModel]="countrySuffix">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Gender Suffix" name="genderSuffix" [ngModel]="genderSuffix">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Size" name="size" [ngModel]="size" required>
      <mat-error>
        Please enter name
      </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Add</button>
  </form>
</section>
<mat-accordion>
  <mat-expansion-panel *ngFor="let size of sizes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{size.countrySuffix}} / {{size.genderSuffix}} / {{size.size}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form (submit)="onSave(f1)" #f1="ngForm">
      <mat-form-field>
        <input matInput placeholder="Country Suffix" name="countrySuffix" [ngModel]="size.countrySuffix">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Gender Suffix" name="genderSuffix" [ngModel]="size.genderSuffix">
      </mat-form-field>
      <mat-form-field>
        <input required matInput placeholder="Size Name" name="size" [ngModel]="size.size" value="{{size.size}}">
        <mat-error>
          Please enter name
        </mat-error>
      </mat-form-field>
      <input type="hidden" value="{{size.id}}" [ngModel]="size.id" name="id">
      <button mat-raised-button type="submit" color="primary">Update</button>&nbsp;
      <button mat-raised-button type="button" (click)="onDelete(color)" color="warn">Delete</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
